@import "tailwindcss";

@theme {
  --color-primary: #1B4332;
  --color-secondary: #FB8500;
  --color-accent: #95D5B2;
  --color-background-light: #F8F9FA;
  --color-background-dark: #131f1f;
}

:root {
  --primary: #1B4332;
  --secondary: #FB8500;
  --accent: #95D5B2;
}

body {
  background-color: var(--color-background-light);
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 overflow-x-hidden;
}

.btn-primary {
  background-color: #FB8500;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: #E36C00;
  transform: scale(1.02);
}

.btn-secondary {
  background-color: transparent;
  color: #1B4332;
  border: 1px solid #1B4332;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #EFF7F1;
}
